.placeholder {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 32px 0;
    transition: background-color 0.3s ease-in-out;
    height: calc(100vh - 124px);
    .rectangle {
        width: 100px;
        height: 20px;
        background-color: #f4f4f4;
        transition: background-color 0.3s ease-in-out;

        &.w80 {
            width: 80%;
        }

        &.w100 {
            width: 100%;
        }

        &.w60 {
            width: 60%;
        }

        &.l1 {
            margin-left: 16px;
        }

        &.l2 {
            margin-left: 32px;
        }
    }

    &.dark {
        background-color: black;
        .rectangle {
            background-color: #333333;
        }
    }
}
