.sidebar {
    width: 284px;
    height: calc(100vh - 100px);
    overflow-x: hidden;
}

.dark {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #333;
    }

    ::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 6px;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #666 #333;
    }
}
