body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: JetBrains Sans, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'JetBrains Sans';
    src: url('../public/JetBrainsMono-Medium.woff2') format('woff2');
    /* Add more format lines if you have other font formats */
    font-weight: normal;
    font-style: normal;
}
